[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
pillow = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
channels-redis = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.10"
