.pulse {
  height: 270px;
  width: 270px;
  background-color: #19a299;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border: 1px solid #19a299;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite
  }

  &:after {
    content: "";
    position: absolute;
    border: 1px solid #19a299;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite;
    animation-delay: 0.3s
  }
}


@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0
  }

  50% {
    transform: scale(1);
    opacity: 1
  }

  100% {
    transform: scale(1.3);
    opacity: 0
  }
}



#remoteVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  transform: rotateY(180deg);
}

#localVideo {
  position: fixed;
  transform: rotateY(180deg);
  right: 0;
  top: 0;
  width: 20vw;
  height: 20vh;
  object-fit: contain;
  z-index: 999;
}

.call-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}