.auth {
  background-image: url("http://themesbox.in/admin-templates/gappa/html/light/assets/images/authentication-bg.jpg");
  height: 100vh;

  .vertical-center {
    margin-top: calc(100vh - 70vh);
  }
}